// Typography

$title-font: 'Barlow', sans-serif;
$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Roboto Slab', serif;
$light: 300;
$regular: 400;
$bold: 700;
$lsp: 0.02rem;
$lsp-2x: 0.04rem;
$lsp-big: 0.06rem;
$lsp-extra: 0.2rem;
$input-height: 54px;

// Color Palette

$primary: #5d3997;
$primary-dark: #311d53;
$primary-gradient: linear-gradient(120deg, #5365d4 0%, $primary 100%);
$primary-transparent: rgba(93,57,151,0.5);
$primary-transparent-dark: rgba(93,57,151,0.75);
$secondary: #dddfe6;
$secondary-dark: #bcbfc8;
$secondary-gradient: linear-gradient(120deg, #f6f4f9 0%, $secondary 100%);
$success: #4b9739;
$success-dark: #326e24;
$success-gradient: linear-gradient(120deg, #54c7b5 0%, $success 100%);
$info: #2381b2;
$info-dark: #085882;
$info-gradient: linear-gradient(120deg, #94a7ec 0%, $info 100%);
$warning: #dc910f;
$warning-dark: #b67300;
$warning-gradient: linear-gradient(120deg, #e9d54e 0%, $warning 100%);
$danger: #cf0a0a;
$danger-dark: #990303;
$danger-gradient: linear-gradient(120deg, #eb7349 0%, $danger 100%);
$light-body: #f9f9f9;
$dark-body: #222;
$light-grey: #f3f3f3;
$light-grey-dark: #ddd;
$grey: #d0d2d3;
$grey-dark: #8e9294;
$grey-gradient: linear-gradient(120deg, $light-grey-dark 0%, $grey 100%);
$dark-grey: #505254;
$dark-grey-dark: #303132;
$inverse-color: #19191a;
$title-color: #151617;
$text-color: #515253;
$white: #fff;
$white-gradient: linear-gradient(120deg, $white 0%, $secondary 100%);
$black: #000;
$black-gradient: linear-gradient(120deg, $dark-grey 0%, $black 100%);
$dark: #31313a;
$dark-gradient: linear-gradient(120deg, #575770 0%, $dark 100%);
$light-shadow: rgba(188,191,200,0.1);
$mid-shadow: rgba(188,191,200,0.2);
$light-shadow-dark: rgba(188,191,200,0.3);
$primary-shadow: rgba(93,57,151,0.3);
$primary-shadow-dark: rgba(93,57,151,0.5);
$success-shadow: rgba(75,151,57,0.3);
$success-shadow-dark: rgba(75,151,57,0.5);
$info-shadow: rgba(35,129,178,0.3);
$info-shadow-dark: rgba(35,129,178,0.5);
$warning-shadow: rgba(220,145,15,0.3);
$warning-shadow-dark: rgba(220,145,15,0.5);
$danger-shadow: rgba(207,10,10,0.3);
$danger-shadow-dark: rgba(207,10,10,0.5);
$dark-shadow: rgba(49,49,58,0.3);
$dark-shadow-dark: rgba(49,49,58,0.5);
$white-shadow: rgba(255,255,255,0.3);
$white-shadow-dark: rgba(255,255,255,0.5);

// Social Colors

$facebook: #4e68a1;
$facebook-dark: #3b4f7a;
$twitter: #65b5f2;
$twitter-dark: #5294c6;
$linkedin: #2083bc;
$linkedin-dark: #186592;
$pinterest: #d2373b;
$pinterest-dark: #ad2c2f;
$dribbble: #ec5f94;
$dribbble-dark: #b4446e;
$instagram: #4c5fd7;
$instagram-dark: #4252ba;
$vimeo: #1ab7ea;
$vimeo-dark: #0d91bc;
$youtube: #e52d27;
$youtube-dark: #b31217;
$dropbox: #3d9ae8;
$dropbox-dark: #2777bb;
$behance: #053eff;
$behance-dark: #062fbb;
$skype: #00aff0;
$skype-dark: #068bbd;
$tumblr: #34526f;
$tumblr-dark: #172635;
$github: #333;
$github-dark: #111;
$reddit: #ff4500;
$reddit-dark: #c13400;